<div class="container-fluid">
	<h3>Editar Combi</h3>

	<%= render 'form', combi: @combi %>
	<div class="container">
	   <br>
	</div>
	<%= link_to 'Ver combi', @combi, class: 'btn btn-primary btn-sm' %> | <%= link_to 'Volver', combis_path,class: 'btn btn-default btn-sm' %>
</div>
