<div class="container-fluid">
<h3>Insumos adquiridos </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Insumo</th>
      <th>Precio</th>
      <th>cantidad</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr align="center">
        <td><%= Insumo.find(list.insumo_id).tipo %></td>
        <td><%= list.price %></td>
        <td><%= list.cant %></td>
        

            <td><%= link_to 'Eliminar', list, method: :delete, data: { confirm: 'estas seguro ?' },class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
