
<% if user_signed_in? %>    

    <div class="container-fluid">
      <h3>Agregar insumo</h3>

      <%= render 'form', list: @list %>
	
      <%= link_to 'Volver', tickets_path,class: 'btn btn-default btn-sm' %>
    </div>
<%end%>
