<% if user_signed_in? %>    
  <%if current_user.admin?%>		
		<div class="container-fluid">
			<h3>Editar insumo</h3>

			<%= render 'form', insumo: @insumo %>
			<div class="container">
			<br>
			</div>
			<%= link_to 'Ver ruta', @insumo, class: 'btn btn-primary btn-sm' %> | <%= link_to 'Volver', insumos_path,class: 'btn btn-default btn-sm' %>
		</div>
	<%end%>
<%end%>
