<% if user_signed_in? %>    
  <%if current_user.admin?%>
		<div class="container-fluid">
			<h3>Cargar nuevo destino</h3>

			<%= render 'form', site: @site %>

			<%= link_to 'Volver', sites_path,class: 'btn btn-default btn-sm' %>
		</div>
	<%end%>
<%end%>